.submission-page {
    /* background-image: url(''); */
    display: flex;
    height: 150vh;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    background: url('D:\FeKoiFarmShop\src\assets\ImageOfPackage\anhnen.png') no-repeat center center;
    background-size: cover; /* Đảm bảo hình nền phủ kín */
}

.wanna{
    font-size: large;
}

.form-container {
    padding: 50px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%; /* Chiếm toàn bộ chiều rộng */
    max-width: 600px; /* Giới hạn chiều rộng tối đa */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.upload-buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.upload-button {
    width: 48%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-button:hover {
    background-color: #0056b3;
}

.note, .warning {
    margin: 10px 0;
    font-size: 14px;
    color: #555;
}

.warning {
    color: red;
}

.submit-button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #218838;
}