.authen-template{
    background-color: aliceblue;
    width: 100vw;
    height: 53vw;
    background-image: url('https://i.imgur.com/p05wuLl.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: right;
    line-height: 30px;

}
.authen-template-right{

    align-items: center;
    width: 845px;
    height: 740px;
    background-color: D9D9D9;
    display: flex;
    align-items: center;
}
.authen-template_form{
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    height: 600px;
    background-color: white;
    padding: 30px;
    margin-left: 100px;
}
.authen-template_form h1{
    padding-top: 50px;
}


