@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.ABC{
    color: white;
}

.contact-page {
    background-image: url('https://cdn.pixabay.com/photo/2021/04/04/05/43/animal-6149183_1280.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Đảm bảo chiều cao đầy đủ */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff; /* Màu chữ cho dễ đọc */
}

.section-header {
    text-align: center;
    margin-bottom: 50px;
}

.container {
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); /* Nền trắng mờ cho phần nội dung */
    border-radius: 10px; /* Bo góc cho phần nội dung */
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-info {
    width: 50%;
}

.contact-info-item {
    display: flex;
    margin-bottom: 30px;
}

.contact-info-icon {
    height: 70px;
    width: 70px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    margin-right: 20px;
}

.contact-info-icon i {
    font-size: 30px;
    line-height: 70px;
}

.contact-info-content h4 {
    color: #1da9c0;
    font-size: 1.4em;
}

.contact-info-content p {
    color: #333;
}

.contact-form {
    background-color: #fff;
    padding: 40px;
    width: 45%;
    border-radius: 10px; /* Bo góc cho phần form */
}

.contact-form h2 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.input-box input,
.input-box textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}

.input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    color: #666;
    transition: 0.5s;
}

.input-box input:focus ~ span,
.input-box textarea:focus ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.input-box input[type="submit"] {
    width: 100%;
    background: #00bcd4;
    color: #FFF;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    transition: 0.5s;
}

.input-box input[type="submit"]:hover {
    background: #FFF;
    color: #00bcd4;
}

@media (max-width: 991px) {
    .row {
        flex-direction: column;
    }
    .contact-info {
        width: 100%;
        margin-bottom: 40px;
    }
    .contact-form {
        width: 100%;
    }
}